<head>
    ...
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<header id="header">
    <nav>
        <a href="#yhtye">Yhtye</a>
        <a href="#muusikot">Muusikot</a>
        <a href="#media">Media</a>
        <a href="#yhteys">Yhteys</a>
        <a href="https://www.instagram.com/duo_hanhisalo_lehtola" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <!--
        <a href="https://www.facebook.com/your_account" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        -->
    </nav>

    <h1><span>Duo Hanhisalo & Lehtola</span></h1>
    <p class="kicker">Laulu- ja pianoduo</p>
</header>