<section>
    <div class="media-header">
        <h2 id="media">Kuvat ja videot</h2>
    </div>
    <div class="media-div">
        <p>Vuonna 2024 tehty nauhoitus kappaleista Can you feel the love tonight, Rakkauslaulu, Pulp fiction, I will survive, Viva la vida ja I wish</p>
    </div>
    <div class="media-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f6-tRTVgbbg?si=cNsPO-KVdGmcDbhI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="media-div">
        <p>Vuonna 2023 tehty nauhoitus kappaleista Desafinado, Milonga del trovador ja Resitatiivi I.</p>
    </div>
    <div class="media-div">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2kNEx3SsiAU?si=7xmriHTKw4cIOqhe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>