<section>
    <div class="muusikko-header">
        <h2 id="muusikot">Muusikot</h2>
    </div>
    <div class="muusikko-div">
        <div class="muusikki-img">
            <img src="../assets/img/soittaja.jpg" alt="Pasi soittaa pianoa">
        </div>
        <div class="muusikko-text">
            <h4>Pasi</h4>
            <p>Pasi on oikea muusikko ja laulaja, opiskellut vaikka missä. Testataanpa, miten teksti menee tässä
                pätkiksi, tai että miten pitkälle se tonne oikeeseen reunaan jatkuu. Joooopa joo.</p>
        </div>

    </div>
    <div class="muusikko-div">
        <div class="muusikki-img">
            <img src="../assets/img/soittaja.jpg" alt="Pasi soittaa pianoa">
        </div>
        <div class="muusikko-text">
            <h4>Lauri</h4>
            <p>Lauri omistaa pianon. Ehkäpä tämä toimii, jos molemmilla muusikoilla on sen verran tekstiä tässä,
                että se
                menee useammalle riville. Mutta mitenköhän käy kekkoselta rocknroll.</p>
        </div>

    </div>
</section>