<section>
    <div class="muusikko-header">
        <h2 id="muusikot">Muusikot</h2>
    </div>
    <div class="muusikko-div">
        <div class="muusikki-img">
            <img src="../assets/img/pasi.png" alt="Pasi soittaa pianoa">
        </div>
        <div class="muusikko-text">
            <h4>Pasi</h4>
            <p>Pasi Hanhisalo on taitava laulaja, jolla on vahva ääni ja tunnistettava persoonallinen soundi. Pasi laulaa monipuolisesti, kuten poppia, jazzia, soulia ja iskelmää. Pasi on kokenut esiintyjä ja myös opettaa laulua.</p>
        </div>

    </div>
    <div class="muusikko-div">
        <div class="muusikki-img">
            <img src="../assets/img/lauri.png" alt="Lauri soittaa pianoa">
        </div>
        <div class="muusikko-text">
            <h4>Lauri</h4>
            <p>Lauri Lehtola aloitti pianonsoiton ennen kouluikää, eikä loppua näy. Klassinen tausta kuuluu Laurin soitossa, mutta nykyään Lauri keskittyy pääasiassa kevyen musiikin esittämiseen. Lauri keikkailee ahkerasti erilaisissa musiikki- ja teatterikokoonpanoissa. </p>
        </div>

    </div>
</section>