<head>
    ...
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<section>
    <div class="yhteys-header">
        <h2 id="yhteys">Yhteys</h2>
    </div>
    <div class="yhteys-div">
        <a href="https://www.instagram.com/your_account" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/your_account" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <p>Yhteydenotot ja keikkatiedustelut:</p>
    </div>
</section>