header
    height: 450px
    background: url('../img/20230822_0069.jpg') center 20%
    background-size: cover
    //background: grey

    nav
        float: left
        padding: 30px 30px 0 0

        a
            font-size: 1vw
            display: inline-block
            margin-left: 20px

            //color: rgba(0,0,0,0.5)
            color: white
            @extend %small-bold

            &:hover
                //color: rgba(0,0,0,0.3)
                color: grey
        
        .fab.fa-instagram
            font-size: 3vw

        
    h1
        text-align: center
        font:
            size: 72px
            weight: 700
        color: white
        text-transform: uppercase
        letter-spacing: 0.05em
        margin-bottom: 10px
        clear: both
        padding-top: 200px
        margin-bottom: 10px
        line-height: 1

        span
            display: inline-block
            padding: 0.3em  0.5em 0.1em
            border: white solid 10px
    
    .kicker
        text-align: center
        font:
            weight: 700
        text-transform: uppercase
        letter-spacing: 0.05em
        color: white