.media-header
    width: 50%
    margin: 0 auto

    h2
        font-size: 2vw


.media-div
    width: 50%
    display: flex
    //margin-left: 50px
    margin: 0 auto
    margin-bottom: 30px
    font-size: 1vw