.muusikko-header
    width: 70%
    margin: 0 auto

    h2
        font-size: 3vw


.muusikko-div
    width: 70%
    display: flex
    //margin-left: 50px
    margin: 0 auto
    margin-bottom: 50px
    font-size: 1vw



    img
        width: 70%
        margin-right: 10px

    .muusikko-text
        flex-grow: 1
        font-size: 1.5vw
        h4
            margin-top: 0