.yhteys-header
    width: 70%
    margin: 0 auto
    margin-bottom: 50px
    font-size: 1vw

    h4
        font-size: 3vw

    h2
        font-size: 3vw

.yhteys-div
    width: 70%
    margin: 0 auto
    margin-bottom: 50px
    font-size: clamp(1rem, 3vw, 2rem)

    h4
        font-size: 3vw

    h2
        font-size: 2vw